
.bbest-doc-list > * {
	font-family: 'Barlow';
font-style: normal;
letter-spacing: 0px;
	text-align: center;
}

.bbest-deck-four h2 {
font-size: 28px;
font-weight: 600;
line-height: 32px;
color: #000099;
margin-bottom: 0;
}
.bbest-deck-four p {
font-size: 18px;
font-weight: 500;
line-height: 24px;
color: #0066FF;
}
.bbest-deck-four a {
color: white;
text-decoration: none;
}
.bbest-deck-four button {
background-color: #0066FF;
border-radius: 50px;
padding: 20px 30px;
color: white;
border: none;
margin: 0;
align-self: center;
font-size: 18px;
font-weight: 600;
/* display: flex; */
}

.bbest-blue-bg {

background-color: #DFEAF2;
width: 100%;
left:0;
height: 1600px;
z-index: 0;
position: absolute;
margin-top: 200px;
}
.bbest-deck-four {
max-width: 1300px;
margin:auto;
}
.bbest-deck-four-container {
display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
}
.bbest-deck-card {
position: relative;
display: flex;
flex: 0 1 278px;
z-index: 3;
max-height: 433px;
}
.bbest-blue-shadow {
background-color: #0066FF;
width:100px;
height: 100px;
position: absolute;
min-width: 260px;
border-radius: 20px;
top: -6px;
z-index: 10px;
left: 10px;
z-index: -1;
}
.bbest-deck-content {
display: flex;
background-color: white;
flex: 0 1 278px;
flex-direction: column;
border: 1px solid #DFEAF2;
border-radius: 20px;
overflow: hidden;
box-shadow: 0px 7px 10px 0px #0066FF1D;
cursor: pointer;
transition: 0.2s ease-in;
}
.bbest-deck-text {
text-align: center;
padding: 3em 1em 3em 1em;
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 288px;
}
.bbest-deck-img > img {
width: 100%;
}
.bbest-deck-content > .bbest-deck-img {
height: 145px;
background: url("https://source.unsplash.com/user/plloyd") center / cover;
overflow: hidden;
}

@media (max-width: 1210px) {
.bbest-deck-four-container {
	align-items: center;
}
}